# model config
DEEPSEEK_API_KEY="your_api_key"
DEEPSEEK_BASE_URL="https://api.deepseek.com"
DEEPSEEK_MODEL_NAME="deepseek-v4-flash"
# tavily
TAVILY_API_KEY=your-tavily-api-key
# workspace config
WORKSPACE_DIR="your-workspace-dir"
# langsmith services
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your_api_key>
LANGSMITH_PROJECT="Mr Orchestra"
