langchain
langgraph
langsmith
langchain-openai
langchain-chroma
langchain-text-splitters
pydantic
pydantic-settings
python-dotenv
pytest
pytest-asyncio
asyncio
fastapi
uvicorn[standard]
sse-starlette
ddgs
tavily-python
crawl4ai
python-docx
openpyxl
chromium
playwright
structlog
langgraph-cli[inmem]
langgraph-api
python-pptx